<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733897650375-f82m07qd2nrjf02d3qva5m3pu3t9c97k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733897650375-f82m07qd2nrjf02d3qva5m3pu3t9c97k</string>
	<key>API_KEY</key>
	<string>AIzaSyA01vXM_QqjFcRIK37oi6GhOgH9svdIRzc</string>
	<key>GCM_SENDER_ID</key>
	<string>733897650375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehran.chat.app.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-apps-361cd</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-apps-361cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733897650375:ios:ea6b0ad5a787f4185c0ee2</string>
</dict>
</plist>